@charset "utf-8";
/* copyright Dr.Peter */

.gpuAcc{
	-webkit-backface-visibility: hidden;
	/*-webkit-transform: translate3d(0,0,0);*/	
	-webkit-transform-style: flat;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;	
	-ms-transform-style: flat;		
	-o-backface-visibility: hidden;		
	-o-transform-style: flat;			
	transform-style: flat;				
	image-rendering:optimizeQuality; 		
	-ms-interpolation-mode:bicubic;	
}
.originalgpuAcc{
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);	
	-webkit-transform-style: flat;
	-moz-transform: translateZ(0);	
	-moz-backface-visibility: hidden;
	-moz-transform-style: preserve-3d;	
	-ms-backface-visibility: hidden;	
	-ms-transform: translate3d(0,0,0);	
	-ms-transform-style: flat;		
	-o-backface-visibility: hidden;		
	-o-transform: translate3d(0,0,0);	
	-o-transform-style: flat;			
	transform-style: flat;				
	image-rendering:optimizeQuality; 		
	-ms-interpolation-mode:bicubic;	
}